<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVckW7sJwqhOiJTpJfzpCYgMcim7QKgeg</string>
	<key>GCM_SENDER_ID</key>
	<string>501539450804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SashaGromova.Bookich</string>
	<key>PROJECT_ID</key>
	<string>bookich-fe79f</string>
	<key>STORAGE_BUCKET</key>
	<string>bookich-fe79f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501539450804:ios:751a602b7968c01f204ce1</string>
</dict>
</plist>